<h2> Login </h2>
<h3> Welcome back!</h3>
<h3> To access your Off the Beaten Track account, please log in using your Username and Password.</h3>

<div class="form">
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input id= "submit" type="submit" value="Log In">
</form>
</div>

<h3> Need to sign up? Click <a href="/signup"> here </h3>