<h2> Sign Up </h2>
<h3> To gain access to our fantastic content, please sign up to Off the Beaten Track below: </h3>

<div class="form">
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
</div>
