<h2> Home Page </h2>
<h3><i> Please take a look through the below records and see what you & others are recording! </i></h3>
<br>
<div class="records">
<% @records.each do |record| %>
    <a class="small" href="/records/<%= record.slug %>"><%= record.name %></a><br>
    <%= record.location %>
    <br><br>
<% end %>
</div>
<h3> <a href="/records/new"> Click here to add something new </a></h3>
