<!doctype html>
<html>
  <head>
    <title>Off the Beaten Track</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="full-screen-container">
      <h1>Off the Beaten Track</h1>

      <%= yield %>
    </div>
  </body>
</html>